<p id="notice"><%= notice %></p>

<% if @user.catStatus == "in" then%>
<h1>おうちにいます</h1>
<% else %>
<h1>おさんぽ中</h1>
<% end %>


<% if @user.catStatus == "外出" then%>
<%= image_tag 'cat2.png' %>
<%else %>
<%= image_tag 'cat1.png' %>
<% end %>
<br>

